@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./prism-coy.css";

a {
	@apply text-green-700 underline;
}

a:hover {
	@apply text-green-900;
}

footer a:hover {
	@apply text-green-500;
}

h1 {
	@apply text-4xl font-bold mb-8;
}

h2 {
	@apply text-2xl font-bold mb-6;
}

h3 {
	@apply text-lg font-bold mb-6;
}

p, ul, ol, table {
	@apply mb-6;
}

ul {
	@apply list-disc list-inside;
}

ol {
	@apply list-decimal list-inside;
}

blockquote {
	@apply border-l-4 border-gray-200 pl-8;
}

th, td {
	@apply border px-4 py-2;
}

th p, td p, li p {
	@apply inline-block mb-0;
}

li ul, li ol {
	@apply mb-0 ml-8;
}

.icon svg {
	fill: #2f855a;
	height: 20px;
	width: auto;
	@apply mx-1;
}
.icon:hover svg {
	fill: #48bb78;
}